<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/bclib.js"></script>
    <title>Html Button Binding - Simple</title>
</head>

<body>

    <input type="button" bc-triggers="click" value="with value attribute" />

    <input type="button" bc-triggers="click" value="with bc-value attribute" bc-value="[##cms.cms.time2##]" />

    <button name="cms.test" bc-triggers='click' value="button.value">with button tag</button>

    <button name="cms.test" bc-triggers='click' bc-value="button.bc-value = [##cms.cms.date##]">with button tag</button>

    <div name="cms.test" bc-triggers='click' bc-value="div.bc-value = [##cms.cms.date##]" style="border: 1px solid black; display: inline;padding: 3px;">div</div>

    <span name="cms.test" bc-triggers='click' bc-value="span.bc-value = [##cms.cms.date##]" style="border: 1px solid black; display: inline;padding: 3px;">span</span>
    <br />
    Without Name : [##cms.unknown.value|(not set)##]
    <br />
    With Name : [##cms.test.value|(not set)##]
</body>

</html>