<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/basiscore.js"></script>
  <title>Print Command - Simple</title>
</head>

<body>
  <button bc-value="0" bc-triggers="click" name="event.click">Click to refresh</button>
  <br />
  <Basis core="print" datamembername="inlineSource.print" run="atclient">
    <face>
      <Basis core="component.local.DemoWithSetting" run="atclient" triggers="event.click" options="@options@"> </Basis>
    </face>
  </Basis>

  <script>

    const host = {
      sources: {
        "inlineSource.print": [
          {
            id: 1,
            name: "qamsari",
            options: {
              id: 12,
              data: "p",
              f: (data) => console.log(data)
            }
          },
          {
            id: 2,
            name: "akaberi",
            options: {
              id: 12,
              data: "p",
              f: (data) => console.log(data)
            }
          },
          {
            id: 3,
            name: "amir",
            options: {
              id: 12,
              data: "p",
              f: (data) => console.log(data)
            }
          },
        ],
      },
    };
    const options = {
      id: 12,
      data: "p",
      f: (data) => console.log(data)
    }

    class DemoWithSetting {
      constructor(owner) {
        this.owner = owner;
      }

      async initializeAsync() {
        console.log("initializeAsync");
        const optionName = await this.owner.getAttributeObjectValueAsync("options");
        //const opt = optionName ? eval(optionName) : null;
        console.log(optionName)
      }


    }
  </script>
</body>

</html>