<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/basiscore.min.js"></script>
    <title>View Command - Simple</title>
</head>

<body>
    <basis core="callback" triggers="local.user" run="atclient"></basis>
    <basis core="view" datamembername="local.user" run="atclient">
        <face level="1">
            <ul>
                <li>@question <ul> @child </ul>
                </li>
            </ul>
        </face>
        <face level="2">
            <li>
                @answer {{
                return await fn($bc,$data);
                }}
            </li>
        </face>
    </basis>

    <script>

        $bc.setSource("local.user", [
            { id: 1, question: "FaName", answer: "ali", prpid: "1", pid: null, tags: ["A", "C", "D"], status: 1 },
            { id: 2, question: "FaName", answer: "amir", prpid: "1", pid: 1, tags: ["A", "B", "E"], status: 1 },
            { id: 3, question: "FaName", answer: "hassan", prpid: "1", pid: 1, tags: ["E", "D"], status: 1 },
            { id: 4, question: "EnName", answer: "Amir", prpid: "2", pid: 2, tags: ["F", "A"], status: 1 },
            { id: 5, question: "EnName", answer: "Ali", prpid: "2", pid: 4, tags: ["D", "B", "A"], status: 1 },
        ]);

        async function fn(_, $data) {
            const lis = $data.tags.sort().reduce((total, tag) => total += `<li>${tag}</li>`, '');
            return `${$data.prpid}<ul>${lis}</ul>`
        }
    </script>
</body>

</html>