[data-bc-part] {
  /* float: right; */
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}

[data-bc-part][data-bc-invalid],
[data-bc-part][data-bc-invalid] * {
  /* background-color: #fefe !important; */
  /* color: lightcoral !important; */
}

[data-bc-part] [data-bc-validation-part] {
  display: none;
}

[data-bc-part][data-bc-invalid] [data-bc-validation-part] {
  display: block;
  padding-right: 10px;
  list-style: none;
  margin: 5px 0;
  color: #B40020;
  font-size: 14px;
}

[data-bc-part][data-bc-invalid] [data-bc-validation-part] li {
  color: #B40020;
  font-size: 14px;
}
