<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/basiscore.js"></script>
  <title>Bar Chart</title>
</head>

<body>
  <basis core="inlinesource" name="list" run="atclient"> </basis>
  <basis core="chart" name="chart" datamembername="chart.data" run="atclient" grid="true" chartType="bar" group="column"
    hover="true" y="y" chartTitle="chart title" axisLabel="true">
  </basis>

  <script>
    const host = {
      sources: {
        "chart.data": [
          {
            column: "january",
            y: "3",
          },
          {
            column: "february",
            y: "1",
          },
          {
            column: "march",
            y: "8",
          },
          {
            column: "april",
            y: "6",
          },
          {
            column: "may",
            y: "7",
          },
          {
            column: "june",
            y: "4",
          },
        ],
      },
    };
  </script>
</body>

</html>