<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/basiscore.js"></script>
  <title>Stacked Chart</title>
</head>

<body>
  <basis core="inlinesource" name="list" run="atclient"> </basis>
  <basis core="chart" name="chart" datamembername="chart.data" run="atclient" chartType="stacked" group="column"
    hover="true" y="y" chartTitle="chart title" horizontal="true" axisLabel="true" style_opacity="0.2" legend="true">
  </basis>

  <script>
    const host = {
      sources: {
        "chart.data": [
          {
            column: "january",
            y: "8",
          },
          {
            column: "february",
            y: "8",
          },
          {
            column: "march",
            y: "8",
          },
          {
            column: "april",
            y: "8",
          },

        ],
      },
    };
  </script>
</body>

</html>