<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/basiscore.js"></script>
    <title>Simple Binding</title>
</head>

<body>
    <button onclick="f()">hi</button>
    <div id="1">
        Time is [##data.time.hh|(00)##]:[##data.time.mm|(00)##]:[##data.time.ss|(00)##]
    </div>
    <hr />
    <div id="2"></div>
    <script>
        function f() {
            //alert("asa");
            const s = document.getElementById("1");
            const d = document.getElementById("2");
            d.appendChild(s);
        }
    </script>


    <script>
        function setTimeSource() {
            const date = new Date();
            const source = {
                hh: date.getHours(),
                mm: date.getMinutes(),
                ss: date.getSeconds()
            };
            $bc.setSource('data.time', source)
        }
        setTimeSource();
        setInterval(setTimeSource, 1000);
    </script>
</body>

</html>