[data-bc-schema-main-container] * {
  box-sizing: border-box;
}

[data-bc-schema-main-container][data-bc-schema-direction="rtl"] {
  direction: rtl;
}

[data-bc-schema-main-container][data-bc-schema-direction="ltr"] {
  direction: ltr;
}

[data-bc-items] [data-bc-schema-main-container],
[data-bc-part-related-cell] [data-bc-schema-main-container] {
  padding: 10px;
}

[data-bc-question] {
  clear: both;
  margin-bottom: 5px;
}

[data-bc-schema-skin="template2"] [data-bc-question] {
  margin-bottom: 0;
}

[data-bc-schema-direction="rtl"][data-bc-schema-skin="template2"] [data-bc-question] {
  /* padding-left: 10px; */
}

[data-bc-schema-direction="ltr"][data-bc-schema-skin="template2"] [data-bc-question] {
  /* padding-right: 10px; */
}

[data-bc-title-container] {
  width: 300px;
  /* padding: 0 10px; */
  /* float: right; */
  line-height: 35px;
  /* margin-left: 10px; */
  position: relative;
}

[data-bc-schema-skin="template2"] [data-bc-title-container] {
  line-height: 20px;
  width: 100%;
  margin-bottom: 8px;
}

[data-bc-schema-direction="rtl"] [data-bc-title-container] {
  float: right;
  margin-left: 10px;
}

[data-bc-schema-direction="ltr"] [data-bc-title-container] {
  float: left;
  margin-right: 10px;
}

[data-bc-schema-direction="rtl"][data-bc-schema-skin="template2"] [data-bc-title-container] {
  float: right;
  margin-left: 0;
}

[data-bc-schema-direction="ltr"][data-bc-schema-skin="template2"] [data-bc-title-container] {
  float: left;
  margin-right: 0;
}

[data-bc-title-container] [data-bc-question-title] {
  /* margin-left: 10px; */
}

[data-bc-schema-direction="rtl"] [data-bc-title-container] [data-bc-question-title] {
  margin-left: 10px;
}

[data-bc-schema-direction="ltr"] [data-bc-title-container] [data-bc-question-title] {
  margin-right: 10px;
}

[data-bc-title-container] [data-bc-help-btn] {
  /* background-image: url(help.PNG); */
  background-position: center;
  /* float: left; */
  /* width: 28px; */
  /* height: 28px; */
  border-radius: 50%;
  /* position: absolute; */
  /* left: 0; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  cursor: pointer;
}

[data-bc-title-container] [data-bc-help-btn]:hover {
  /* background-image: url(help-hover.PNG); */
}

[data-bc-title-container] [data-bc-help-btn] svg {
  vertical-align: middle;
}

/* ********** tooltip common ********** */
[data-bc-help-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-bc-help-tooltip]:before,
[data-bc-help-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
}

[data-bc-help-tooltip]:before {
  position: absolute;
  bottom: 15px;
  /* right: 50%; */
  margin-bottom: 5px;
  /* margin-right: -15px; */
  /* transform: translateX(-50%); */
  padding: 7px;
  width: max-content;
  max-width: 300px;
  border-radius: 5px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-bc-help-tooltip);
  /* text-align: right; */
  font-size: 12px;
  line-height: 1.2;
}

[data-bc-schema-direction="rtl"] [data-bc-help-tooltip]:before {
  right: 50%;
  margin-right: -15px;
  text-align: right;
}

[data-bc-schema-direction="ltr"] [data-bc-help-tooltip]:before {
  left: 50%;
  margin-left: -15px;
  text-align: left;
}

[data-bc-help-tooltip]:after {
  position: absolute;
  bottom: 15px;
  /* right: 50%; */
  /* margin-right: -5px; */
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-bc-schema-direction="rtl"] [data-bc-help-tooltip]:after {
  right: 50%;
  margin-right: -5px;
}

[data-bc-schema-direction="ltr"] [data-bc-help-tooltip]:after {
  left: 50%;
  margin-left: -5px;
}

[data-bc-help-tooltip]:hover:before,
[data-bc-help-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

[data-bc-answer-container] {
  /* float: right; */
  display: inline-block;
  width: calc(100% - 310px);
}

[data-bc-schema-skin="template2"] [data-bc-answer-container] {
  width: 100%;
  position: relative;
}

[data-bc-answer-container] label[data-bc-text-input] {
  padding: 0.1em 0.4em;
  display: inline-block;
  border: 1px solid #c7d6db;
  /* background: #f5f8f9; */
  border-radius: 5px;
  transition: border 0.3s linear 0s;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  color: #555;
  height: 35px;
  line-height: 35px;
}

[data-bc-schema-skin="template2"] [data-bc-answer-container] label[data-bc-text-input] {
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
}

[data-bc-answer-container] [data-bc-invalid] label[data-bc-text-input] {
  border: 1px solid #B40020;
  box-shadow: 0px 0px 4px rgba(180, 0, 32, 0.25);
}

[data-bc-answer-container] input[type="text"],
[data-bc-answer-container] input[type="password"],
[data-bc-answer-container] input[type="time"],
/* [data-bc-answer-container] input[type="color"], */
[data-bc-answer-container] input[type="file"],
[data-bc-answer-container] select,
[data-bc-answer-container] textarea {
  padding: 0.1em 0.4em;
  display: inline-block;
  border: 1px solid #c7d6db;
  background-color: #f5f8f9;
  border-radius: 5px;
  transition: border 0.3s linear 0s;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  color: #555;
}

[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="text"],
[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="password"],
[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="time"],
/* [data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="color"], */
[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="file"],
[data-bc-schema-skin="template2"] [data-bc-answer-container] select,
[data-bc-schema-skin="template2"] [data-bc-answer-container] textarea {
  border: 1px solid #c8cccf;
  background-color: transparent;
  border-radius: 4px;
  color: #68737c;
}

[data-bc-answer-container] [data-bc-invalid] input[type="text"],
[data-bc-answer-container] [data-bc-invalid] input[type="password"],
[data-bc-answer-container] [data-bc-invalid] input[type="time"],
[data-bc-answer-container] [data-bc-invalid] input[type="color"],
[data-bc-answer-container] [data-bc-invalid] input[type="file"],
[data-bc-answer-container] [data-bc-invalid] select,
[data-bc-answer-container] [data-bc-invalid] textarea {
  border: 1px solid #B40020;
  box-shadow: 0px 0px 4px rgba(180, 0, 32, 0.25);
}

[data-bc-answer-container] input[type="text"],
[data-bc-answer-container] input[type="password"],
[data-bc-answer-container] input[type="time"],
[data-bc-answer-container] input[type="color"],
[data-bc-answer-container] input[type="file"],
[data-bc-answer-container] select {
  height: 35px;
}

[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="text"],
[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="password"],
[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="time"],
[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="color"],
[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="file"],
[data-bc-schema-skin="template2"] [data-bc-answer-container] select {
  height: 40px;
}

[data-bc-answer-container] textarea {
  height: 175px;
  resize: vertical;
}

[data-bc-answer-container] textarea:disabled {
  background-color: inherit;
  height: max-content;
}

[data-bc-answer-container] input[type="text"]:focus,
[data-bc-answer-container] input[type="file"]:focus,
[data-bc-answer-container] select:focus,
[data-bc-answer-container] textarea:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
  background-color: #fff8ee;
}

[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="text"]:focus,
[data-bc-schema-skin="template2"] [data-bc-answer-container] input[type="file"]:focus,
[data-bc-schema-skin="template2"] [data-bc-answer-container] select:focus,
[data-bc-schema-skin="template2"] [data-bc-answer-container] textarea:focus {
  border-right-width: 3px;
  border-left-width: 3px;
  border-color: #004b85;
  box-shadow: none;
  outline: 0 none;
  background-color: transparent;
}

[data-bc-answer-container] input[type="text"]:disabled,
[data-bc-answer-container] input[type="password"]:disabled,
[data-bc-answer-container] input[type="time"]:disabled,
[data-bc-answer-container] input[type="color"]:disabled,
[data-bc-answer-container] input[type="file"]:disabled,
[data-bc-answer-container] select:disabled,
[data-bc-answer-container] textarea:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

[data-bc-answer-container] input[type="text"][readonly],
[data-bc-answer-container] input[type="password"][readonly],
[data-bc-answer-container] input[type="time"][readonly],
[data-bc-answer-container] input[type="color"][readonly],
[data-bc-answer-container] input[type="file"][readonly],
[data-bc-answer-container] select[readonly],
[data-bc-answer-container] textarea[readonly] {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

[data-bc-answer-container] [data-bc-view-pass] {
  width: 20px;
  height: 20px;
  position: absolute;
  /* left: 5px; */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

[data-bc-schema-direction="rtl"] [data-bc-answer-container] [data-bc-view-pass] {
  left: 5px;
}

[data-bc-schema-direction="ltr"] [data-bc-answer-container] [data-bc-view-pass] {
  right: 5px;
}

[data-bc-answer-title-container] {
  /* margin-bottom: 5px; */
  width: calc(100% - 75px);
}

[data-bc-answer-title-container] [data-bc-answer-title] {
  /* float: right; */
  display: inline-block;
  line-height: 35px;
}

@media only screen and (max-width:800px) {
  [data-bc-title-container] {
    width: 200px;
  }

  [data-bc-schema-skin="template2"] [data-bc-title-container] {
    width: 100%;
  }

  [data-bc-answer-container] {
    width: calc(100% - 210px);
  }

  [data-bc-schema-skin="template2"] [data-bc-answer-container] {
    width: 100%;
  }
}

@media only screen and (max-width:700px) {
  [data-bc-title-container] {
    width: 100%;
    margin-bottom: 5px;
  }

  [data-bc-schema-skin="template2"] [data-bc-title-container] {
    width: 100%;
  }

  [data-bc-answer-container] {
    width: 100%;
  }

  [data-bc-schema-skin="template2"] [data-bc-answer-container] {
    width: 100%;
  }

  [data-bc-answer-title-container] {
    width: calc(100% - 35px);
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -moz-flex;
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  [data-bc-schema-skin="template2"] [data-bc-answer-title-container] {
    width: calc(100% - 40px);
  }
}