[data-bc-answer] {
  clear: both;
}

[data-bc-part-container],
[data-bc-btn-container] {
  float: right;
  /* display: inline-block; */
  /* margin-bottom: 5px; */
}

[data-part-btn-container] {
  vertical-align: top;
}

[data-bc-question] [data-bc-btn] {
  width: 30px;
  height: 30px;
  border: none;
  /* background-repeat: no-repeat; */
  background-position: center center;
  cursor: pointer;
}

[data-bc-question] [data-bc-btn="add"] {
  background-image: url(add.PNG);
}

[data-bc-question] [data-bc-btn="add"]:hover {
  background-image: url(add-hover.PNG);
}

[data-bc-question] [data-bc-btn="remove"] {
  background-image: url(remove.PNG);
}

[data-bc-question] [data-bc-btn="remove"]:hover {
  background-image: url(remove-hover.PNG);
}

[data-bc-part-related-cell] {
  width: 300px;
  margin-left: 5px;
  /* margin-bottom: 5px; */
}

[data-bc-part-related-cell] [data-bc-part-checkbox] {
  padding: 0.5em 0.6em;
  border: 1px solid #c7d6db;
  border-radius: 4px;
}

[data-bc-part-related-cell] [data-bc-show-search-popup-btn] {
  width: 30px;
  height: 30px;
  border: none;
  /* background-repeat: no-repeat; */
  background-position: center center;
  background-image: url(add.PNG);
  cursor: pointer;
}

[data-bc-part-related-cell] [data-bc-show-search-popup-btn]:hover {
  background-image: url(add-hover.PNG);
}
