[data-bc-answer] {
  clear: both;
}

[data-bc-part-container],
[data-bc-btn-container] {
  float: right;
  /* display: inline-block; */
  /* margin-bottom: 5px; */
  width: calc(100% - 35px);
}

[data-part-btn-container] {
  vertical-align: top;
}

[data-bc-question] [data-bc-btn],
[data-bc-question] [data-bc-btn-remove] {
  width: 35px;
  height: 35px;
  border: none;
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-color: #f5f8f9; */
  cursor: pointer;
  padding: 0;
  /* border: 1px solid #c7d6db; */
  border-radius: 5px;
  text-align: center;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -moz-flex;
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

[data-bc-question] [data-bc-btn="add"] svg {
  width: 12px;
  height: 12px;
}

[data-bc-question] [data-bc-btn="remove"] svg {
  width: 10px;
  height: 10px;
}

[data-bc-question] [data-bc-btn="add"] {
  /* background-image: url(add.PNG); */
  background-color: #eef4f9;
}

[data-bc-question] [data-bc-btn="add"]:hover {
  /* background-image: url(add-hover.PNG); */
  /* background-color: #6cb829; */
}

[data-bc-question] [data-bc-btn="remove"],
[data-bc-question] [data-bc-btn-remove] {
  /* background-image: url(remove.PNG); */
  background-color: #f7f0f3;
}

[data-bc-question] [data-bc-btn="remove"]:hover,
[data-bc-question] [data-bc-btn-remove]:hover {
  /* background-image: url(remove-hover.PNG); */
  /* background-color: #e03838; */
}

[data-bc-part-related-cell] {
  /* width: 300px; */
  margin-left: 10px;
  /* margin-bottom: 5px; */
  position: relative;
}

[data-bc-schema-info-part="1"] [data-bc-part-related-cell] {
  width: calc(100% - 10px);
}

[data-bc-schema-info-part="2"] [data-bc-part-related-cell] {
  width: calc(50% - 10px);
}

[data-bc-schema-info-part="3"] [data-bc-part-related-cell] {
  width: calc(33.3333% - 10px);
}

[data-bc-schema-info-part="4"] [data-bc-part-related-cell] {
  width: calc(25% - 10px);
}

[data-bc-schema-info-part="5"] [data-bc-part-related-cell] {
  width: calc(20% - 10px);
}

[data-bc-part-related-cell] [data-bc-part-checkbox] {
  padding: 0.5em 0.6em;
  border: 1px solid #c7d6db;
  border-radius: 5px;
}

[data-bc-part-related-cell] [data-bc-part-radio] {
  padding: 0.5em 0.6em;
  border: 1px solid #c7d6db;
  border-radius: 5px;
}

[data-bc-part-related-cell] [data-bc-show-search-popup-btn] {
  width: 35px;
  height: 35px;
  border: none;
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-image: url(add.PNG); */
  background-color: #eef4f9;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
  text-align: center;
}

[data-bc-part-related-cell] [data-bc-show-search-popup-btn]:hover {
  /* background-image: url(add-hover.PNG); */
}

@media only screen and (max-width:700px) {
  [data-bc-part-related-cell] {
    width: unset;
    flex-grow: 1;
    flex: -moz-available;
  }

  [data-bc-part-container] {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -moz-flex;
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
}